<h1><%= @book.title %></h1>

<div>

<p class="btn"><%= link_to "Back to all books", books_path %></p>
</div>

<p class="btn"><%= link_to "Add a Review", book_path(@book) %></p>

<p class="btn"><%= link_to "Add a Rating", book_path(@book) %></p>

