.navbar {
  display: flex;
  justify-content: space-between;
  background: white;
}

.navbar .navbar-collapse {
  flex-grow: 1;
}

.navbar .navbar-brand img {
  width: 40px;
}
.form-inline{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.nav-item{
  float: right;
  margin: 0 10px 0 0;
  vertical-align: center ;
}
.avatar{
  display:flex;
  justify-content:flex-end;
}
